@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans/NotoSans-Regular.ttf");
}

body {
  font-family: $default-font-family, sans-serif;
}

@mixin HandleParagraph {
  color: rgb(92, 89, 89);
  line-height: 1.6em;
  margin-top: 30px;
}