.body-container {
  width: 92vw;
  margin-left: auto;
  margin-right: 2.5rem;
}

.bi {
  font-size: 1.2rem;
}

.mt-nav {
  margin-top: 60px;
}

.mt-nav-2 {
  margin-top: 70px;
}

.pt-nav {
  padding-top: 3.8rem;
}

.ml-auto {
  margin-left: auto !important;
}

@media only screen and (max-width: 750px) {
  .body-container {
    width: 98vw;
    margin: auto;
  }
}