.body-container-ltr{
  width: 92vw;
  margin-left: auto;
  margin-right: $body-margin-right;
  padding-left: $body-padding-left;
}
.body-container-rtl{
  width: 92vw;
  margin-right: auto;
  margin-left: $body-margin-left;
  padding-right: $body-padding-right;
}

.bi {
  font-size: 1.2rem;
}

.mt-nav {
  margin-top: 3.75rem;
}

.mt-nav-2 {
  margin-top: 4.5rem;
}

.mt-nav-3 {
  margin-top: 6rem;
}

.mt-nav-4 {
  margin-top: 9rem;
}

.pt-nav {
  padding-top: 2rem;
}

.ml-auto {
  margin-left: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.w-49 {
  width: 49%;
}

@media only screen and (max-width: 815px) {
  .body-container-ltr{
    margin-right: 1rem;
    padding-left: 0;
  }
  .body-container-rtl{
    margin-left: 1rem;
    padding-right: 0;
  }
  .mt-nav {
    // margin-top: 10rem;
  }

  .mt-nav-2 {
    margin-top: 10rem;
  }

  .pt-nav {
    padding-top: 4.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .body-container-ltr{
    margin: auto;
  }
  .body-container-rtl{
    margin: auto;
  }
}
