// Font
$default-font-family: 'Noto Sans';
$title-font-size:1.5rem;
$title-font-weight:900;
$bold-font-weight:'bolder';
$small-text-size:0.8rem;

// colors
$default-text-color:black;
$default-background-color:white;
$small-text-color:#484848;
$txt-color: rgb(117, 117, 117);
$secondary-color:#F5F5F5;
$border-color:#DFDFDF;
$orange:#CA5008;
$body-margin-right: 2.5rem;
$body-padding-left: 4rem;