// Font
$default-font-family: 'Noto Sans';
$title-font-size:1.5rem;
$small-text-size:0.875rem;

// colors
$default-text-color:black;
$small-text-color:#484848;
$txt-color: rgb(117, 117, 117);
$secondary-color:#F5F5F5;