.menu-btn {
  @include radius(50%);
  position: fixed;
  top: 2rem;
  left: 1.5rem;

  &:hover {
    background-color: $secondary-color;
  }

  &.left-arrow {
    position: relative !important;
    top: 0;
    left: -6.5rem;
  }

  i {
    font-size: 1.4rem;
    font-weight: 600;

    &.bi-arrow-left-short {
      font-size: 1.9rem;
    }

    &.bi-x {
      position: absolute;
      top: 0;
      left: 2rem;
      font-size: 1.7rem;
    }
  }
}
.menu-bar {
  @media only screen and (max-width: 890px) {
    width: 100vw;
  }
  @media screen and (min-width: 890px) {
    width: 35vw;
    .menu-body {
      padding-left: 30%;
      padding-right: 5%;
    }
  }
  .menu-header {
    justify-content: start;
    padding-top: 1.8rem;

    img {
      margin-left: 30%;
    }
  }
  .menu-body {
    padding-top: 2rem;

    ul {
      list-style-type: none;
      line-height: 4rem;
      padding-left: 0;
      li {
        font-size: $title-font-size * 1.3;
        font-weight: $title-font-weight;
      }
    }
    .small-text-list {
      list-style-type: none;
      line-height: 2rem;
      padding-left: 0;
      li {
        font-size: $small-text-size;
        font-weight: $title-font-weight * 0.5;
        color: $txt-color;
      }

      & + div {
        position: absolute;

        & > * {
          margin-right: 1rem;
          display: flex;
          align-items: center;
        }

        button {
          i {
            padding-right: 0.4rem;
          }
        }
      }
    }
    .selector-btn {
      @include SeeAllBtn;
      padding: 2px 10px;
    }
  }
}
.other-content {
  display: none;
}
