.category-card {
    border: none;
    text-decoration: none;
    color: $small-text-color;
    font-size: $small-text-size;
    img{
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
    }
    &:hover {
        text-decoration: underline;
        color: $default-text-color;
    }

    .category-body {
        padding-left: 0px;
    }
}

.row-card{
    text-decoration:none;
    -moz-text-decoration:none;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    display: flex;
    flex-direction: row;
    &:hover{ 
        text-decoration:underline;
        -moz-text-decoration:underline;
        text-decoration-color: $secondary-color; 
        -moz-text-decoration-color: $secondary-color;
    }
    .card-right {
        padding: 20px;
        background-color: #204b7e;
        display: flex;
        flex-direction: column;
        color: $secondary-color;
        .card-btn {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: none;
            width: 60px;
            height: 60px;
            margin-top: auto;
            background-color: $default-background-color;
        }
    }
}


.step-card {
    border: none;
    color: $small-text-color;
    font-size: $small-text-size;
    .step-body {
        text-align: center;
        background-color: $secondary-color;
        svg {
            fill: $small-text-color;
            width: 1.875rem;
            height: 1.875rem;
        }

        .step-title {
            color: $default-text-color;
            font-size: $small-text-size;
            font-weight: $title-font-weight;
        }

        .step-link {
            text-decoration-color: $small-text-color;
            -moz-text-decoration-color: $small-text-color;
            color: $small-text-color;
        }
    }
}