.category-card{
    border: none;
    text-decoration: none;
    color: black;
    &:hover{
        text-decoration: underline;
        color: black;
    }
    .category-body{
        padding-left: 0px;
    }
}

.row-card{
    font-family: $default-font-family;
    font-size: $title-font-size;
    display:flex;
    flex-direction:row;
    background-color: burlywood;
    width: 100%;
    img{
        width: 70%;
    }
    .card-right{
        padding: 20px;
    }
}