.head-title{
    margin: 1.875rem 0rem 0.3rem 0.3rem;
    font-size: $title-font-size;
}
.small-text{
    font-size: $small-text-size;
    color:$small-text-color;
    margin: 0.5rem 0.3rem;
    width: 70%;
}