// var 
$txt-color: rgb(117, 117, 117);

// Left Section
.log-parent {
    margin-top: 140px;

    .login-heading {

        h3 {
            font-weight: bold;
        }

        p {
            @include HandleParagraph()
        }

        button {
            @include HandleButton();
            background-color: transparent;
        }

        button:hover {
            @include HoverButton();

        }
    }

    // Right Section
    .login-form {
        .sec-inp {
            margin-bottom: 50px;
        }

        a {
            color: $txt-color;
            font-size: 16px;
        }

        .input-log input {
            @include HandleInput();
        }

        button {
            @include HandleButton();
            background-color: rgb(34, 34, 34);
            color: white;
            width: 100%;
        }


        button:hover {@include ShoppingButtonHover()}

        .input-sign-form { margin-top: 25px;}

        .selct-form-sign { outline: none;}
        
        .selct-label-form-sign { margin-top: 30px;}

    }
}