.filter-row {
    padding: 10px 0;
    box-shadow: 5px 10px white;
    background-color: white;
}
.filter-btn{
    @include radius(20px);
    i{
        margin-left: 10px
    }
}

.description{ @include HandleParagraph() ;}
