.filter-row {
    padding: 10px 0;
    box-shadow: 5px 10px white;
    background-color: white;
}
.filter-btn{
    @include radius(20px);
    background-color: $secondary-color;
    i{
        margin-left: 10px
    }
    &:hover{
        background-color: darken($secondary-color,5);
    }
    &:active{
        background-color: $default-text-color;
        color: $default-background-color;
    }
}

.description{ @include HandleParagraph() ;}
