.filter-row {
    padding: 10px 0;
    background-color: white;
    border-bottom:1px solid $border-color ;
}
.filter-btn{
    @include radius(20px);
    background-color: $secondary-color;
    i{
        margin-left: 10px
    }
    &:hover{
        background-color: darken($secondary-color,5);
    }
    &:active{
        background-color: $default-text-color;
        color: $default-background-color;
    }
}

.description{ @include HandleParagraph() ;}

.section-title{
    margin: 1.875rem 0
}

.prod-container{
    padding: 1rem 0.875rem;
    border-bottom:1px solid $border-color ;  
    header{
        opacity: 0;
    }
    &:hover header {
        opacity: 1;
      }
}

@media only screen and (max-width: 576px) {
    .prod-container{
        padding: 1rem 0.875rem;
        border:1px solid $border-color ;  
    }
  }
.new{
    color: $orange;
}
.variant-container{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin-left: 0.25rem;
    cursor: pointer;
    margin-bottom: 0.25rem;
    &:hover{
        border: 1px solid $small-text-color;
    }
}
.variant-img{
    width: 2.375rem;
    max-width: 2.375rem;
    max-height: 2.375rem;
}


